@charset "utf-8";

@media only screen and (max-width:1170px) {
    .row { padding:0 10px }
    .topmenu .login { position:absolute; top:0; right:10px; color:#000 }

}

@media only screen and (max-width:992px) {
    .logoNav { position:relative; height:auto; }
    .logoNav h1 { color:#ffae3d; 
        font-size:26.25px; padding:24.875px 0px 0px;
        font-weight:bold; text-align:center;   }
    .logoNav .nav { position:static; top:0; right:0;
            text-align:center; }

}

@media only screen and (max-width:841px) {
    .topmenu .login { position:absolute; top:0; right:10px; color:#000; display:none }

    .topmenu .search { position:absolute; top:0; right:10px; transform:translate(0%) }

    .logoNav h1 { color:#ffae3d; 
        font-size:26.25px; 
        padding:30px 0px;
        font-weight:bold; text-align:center;   }
    .logoNav .open_nav { display:block;
        position:absolute; top:50%; right:10px; 
        font-size:25px; transform:translateY(-50%);
    }         
    .logoNav .close_nav { display:none;
        position:absolute; top:50%; right:10px; 
        font-size:25px; transform:translateY(-50%);
    } 
    .logoNav .nav { position:static; top:0; right:0;
        text-align:center; display:none;
    }


}